In [1]:
import numpy as np
import os
import pandas as pd
import tensorflow as tf
from tensorflow.keras.applications import VGG16
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Flatten, Dropout
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.preprocessing.image import ImageDataGenerator
from sklearn.model_selection import train_test_split

WARNING:tensorflow:From C:\ProgramData\Anaconda3\envs\tf1\lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [2]:
import pickle

In [3]:
from tensorflow.keras.preprocessing import image

In [4]:
from sklearn.metrics import accuracy_score, precision_score, recall_score,log_loss, confusion_matrix, roc_curve, ConfusionMatrixDisplay, RocCurveDisplay

In [5]:
import mlflow

In [6]:
def create_experiment(experiment_name,run_name,model,mloss,maccuracy):
    mlflow.set_tracking_uri("http://localhost:5000") # Descomentar esta línea si desea usar cualquier base de datos como sqlite como almacenamiento de back-end
    #mlflow.set_tracking_uri("http://localhost:8080")
    mlflow.set_experiment(experiment_name)

    with mlflow.start_run(run_name=run_name):
        mlflow.sklearn.log_model(model, "model")
        mlflow.set_tag("tag1", "vgg161")
        mlflow.log_metric('loss', mloss)
        mlflow.log_metric('accuracy', maccuracy)
    print('La ejecución: %s fue registrada en el experimento: %s' %(run_name, experiment_name))

In [7]:
data_train=pd.read_csv('train.csv')

In [8]:
data_train

                  file           age  gender        race  service_test
0          train/1.jpg         50-59    Male  East Asian          True
1          train/2.jpg         30-39  Female      Indian         False
2          train/3.jpg           3-9  Female       Black         False
3          train/4.jpg         20-29  Female      Indian          True
4          train/5.jpg         20-29  Female      Indian          True
...                ...           ...     ...         ...           ...
86739  train/86740.jpg         20-29    Male      Indian          True
86740  train/86741.jpg         10-19    Male      Indian          True
86741  train/86742.jpg  more than 70  Female      Indian          True
86742  train/86743.jpg         10-19  Female       Black          True
86743  train/86744.jpg         40-49    Male       White         False

[86744 rows x 5 columns]

In [9]:
data_test=pd.read_csv('val.csv')

In [10]:
data_test

                file    age  gender             race  service_test
0          val/1.jpg    3-9    Male       East Asian         False
1          val/2.jpg  50-59  Female       East Asian          True
2          val/3.jpg  30-39    Male            White          True
3          val/4.jpg  20-29  Female  Latino_Hispanic          True
4          val/5.jpg  20-29    Male  Southeast Asian         False
...              ...    ...     ...              ...           ...
10949  val/10950.jpg  30-39    Male            White          True
10950  val/10951.jpg  50-59    Male            White         False
10951  val/10952.jpg  60-69    Male  Latino_Hispanic         False
10952  val/10953.jpg  20-29  Female       East Asian         False
10953  val/10954.jpg  40-49    Male  Latino_Hispanic          True

[10954 rows x 5 columns]

In [11]:
data_train1=data_train[["file","race"]]

In [12]:
data_train1

                  file        race
0          train/1.jpg  East Asian
1          train/2.jpg      Indian
2          train/3.jpg       Black
3          train/4.jpg      Indian
4          train/5.jpg      Indian
...                ...         ...
86739  train/86740.jpg      Indian
86740  train/86741.jpg      Indian
86741  train/86742.jpg      Indian
86742  train/86743.jpg       Black
86743  train/86744.jpg       White

[86744 rows x 2 columns]

In [13]:
data_train1.columns=["id","label"]

In [14]:
data_train1

                    id       label
0          train/1.jpg  East Asian
1          train/2.jpg      Indian
2          train/3.jpg       Black
3          train/4.jpg      Indian
4          train/5.jpg      Indian
...                ...         ...
86739  train/86740.jpg      Indian
86740  train/86741.jpg      Indian
86741  train/86742.jpg      Indian
86742  train/86743.jpg       Black
86743  train/86744.jpg       White

[86744 rows x 2 columns]

In [15]:
data_test1=data_test[["file","race"]]

In [16]:
data_test1

                file             race
0          val/1.jpg       East Asian
1          val/2.jpg       East Asian
2          val/3.jpg            White
3          val/4.jpg  Latino_Hispanic
4          val/5.jpg  Southeast Asian
...              ...              ...
10949  val/10950.jpg            White
10950  val/10951.jpg            White
10951  val/10952.jpg  Latino_Hispanic
10952  val/10953.jpg       East Asian
10953  val/10954.jpg  Latino_Hispanic

[10954 rows x 2 columns]

In [17]:
data_test1.columns=["id","label"]

In [18]:
data_test1

                  id            label
0          val/1.jpg       East Asian
1          val/2.jpg       East Asian
2          val/3.jpg            White
3          val/4.jpg  Latino_Hispanic
4          val/5.jpg  Southeast Asian
...              ...              ...
10949  val/10950.jpg            White
10950  val/10951.jpg            White
10951  val/10952.jpg  Latino_Hispanic
10952  val/10953.jpg       East Asian
10953  val/10954.jpg  Latino_Hispanic

[10954 rows x 2 columns]

In [19]:
data_train2=data_train1.head(50)

In [20]:
data_train2

              id            label
0    train/1.jpg       East Asian
1    train/2.jpg           Indian
2    train/3.jpg            Black
3    train/4.jpg           Indian
4    train/5.jpg           Indian
5    train/6.jpg            White
6    train/7.jpg   Middle Eastern
7    train/8.jpg           Indian
8    train/9.jpg            White
9   train/10.jpg   Middle Eastern
10  train/11.jpg       East Asian
11  train/12.jpg       East Asian
12  train/13.jpg  Latino_Hispanic
13  train/14.jpg           Indian
14  train/15.jpg           Indian
15  train/16.jpg            White
16  train/17.jpg  Southeast Asian
17  train/18.jpg  Southeast Asian
18  train/19.jpg            Black
19  train/20.jpg  Southeast Asian
20  train/21.jpg           Indian
21  train/22.jpg   Middle Eastern
22  train/23.jpg            Black
23  train/24.jpg            White
24  train/25.jpg            White
25  train/26.jpg            Black
26  train/27.jpg            White
27  train/28.jpg            White
28  train/29.jpg           Indian
29  train/30.jpg            Black
30  train/31.jpg            Black
31  train/32.jpg       East Asian
32  train/33.jpg            White
33  train/34.jpg   Middle Eastern
34  train/35.jpg       East Asian
35  train/36.jpg   Middle Eastern
36  train/37.jpg  Latino_Hispanic
37  train/38.jpg  Latino_Hispanic
38  train/39.jpg   Middle Eastern
39  train/40.jpg  Latino_Hispanic
40  train/41.jpg            White
41  train/42.jpg            Black
42  train/43.jpg  Southeast Asian
43  train/44.jpg  Latino_Hispanic
44  train/45.jpg           Indian
45  train/46.jpg           Indian
46  train/47.jpg       East Asian
47  train/48.jpg   Middle Eastern
48  train/49.jpg  Southeast Asian
49  train/50.jpg            Black

In [21]:
data_test2=data_test1.head(50)

In [22]:
data_test2

            id            label
0    val/1.jpg       East Asian
1    val/2.jpg       East Asian
2    val/3.jpg            White
3    val/4.jpg  Latino_Hispanic
4    val/5.jpg  Southeast Asian
5    val/6.jpg  Latino_Hispanic
6    val/7.jpg            Black
7    val/8.jpg       East Asian
8    val/9.jpg  Southeast Asian
9   val/10.jpg  Southeast Asian
10  val/11.jpg       East Asian
11  val/12.jpg       East Asian
12  val/13.jpg           Indian
13  val/14.jpg           Indian
14  val/15.jpg  Latino_Hispanic
15  val/16.jpg   Middle Eastern
16  val/17.jpg       East Asian
17  val/18.jpg            White
18  val/19.jpg            White
19  val/20.jpg   Middle Eastern
20  val/21.jpg       East Asian
21  val/22.jpg            White
22  val/23.jpg            White
23  val/24.jpg       East Asian
24  val/25.jpg  Latino_Hispanic
25  val/26.jpg  Latino_Hispanic
26  val/27.jpg  Latino_Hispanic
27  val/28.jpg  Southeast Asian
28  val/29.jpg       East Asian
29  val/30.jpg  Latino_Hispanic
30  val/31.jpg           Indian
31  val/32.jpg           Indian
32  val/33.jpg  Southeast Asian
33  val/34.jpg       East Asian
34  val/35.jpg            Black
35  val/36.jpg            Black
36  val/37.jpg            Black
37  val/38.jpg   Middle Eastern
38  val/39.jpg   Middle Eastern
39  val/40.jpg           Indian
40  val/41.jpg       East Asian
41  val/42.jpg           Indian
42  val/43.jpg  Latino_Hispanic
43  val/44.jpg  Latino_Hispanic
44  val/45.jpg            White
45  val/46.jpg       East Asian
46  val/47.jpg            White
47  val/48.jpg            White
48  val/49.jpg            White
49  val/50.jpg            White

In [23]:
batch_size = 32
img_height = 224
img_width = 224

In [24]:
data_dirTrain = ''
data_dirTest = ''

In [25]:
train_datagen = tf.keras.preprocessing.image.ImageDataGenerator(rescale = 1 / 255., horizontal_flip=True)
val_datagen = tf.keras.preprocessing.image.ImageDataGenerator(rescale = 1 / 255.)

In [29]:
train_ds = train_datagen.flow_from_dataframe(
  data_train2,
  directory=data_dirTrain,
  x_col='id',
  y_col='label',
  seed=42,
  shuffle=True,
  target_size=(img_height, img_width),
  class_mode="categorical",
  batch_size=batch_size)

Found 50 validated image filenames belonging to 7 classes.

In [30]:
val_ds = val_datagen.flow_from_dataframe(
  data_test2,
  directory=data_dirTest,
  x_col='id',
  y_col='label',
  target_size=(img_height, img_width),
  class_mode="categorical",
  batch_size=batch_size)

Found 50 validated image filenames belonging to 7 classes.

In [31]:
class_to_idx = train_ds.class_indices
class_to_idx

{'Black': 0,
 'East Asian': 1,
 'Indian': 2,
 'Latino_Hispanic': 3,
 'Middle Eastern': 4,
 'Southeast Asian': 5,
 'White': 6}

In [32]:
idx_to_class_list = [(value, key) for value, key in class_to_idx.items()]
idx_to_class = {}
for element in idx_to_class_list:
    idx_to_class[element[1]] = element[0]

idx_to_class

{0: 'Black',
 1: 'East Asian',
 2: 'Indian',
 3: 'Latino_Hispanic',
 4: 'Middle Eastern',
 5: 'Southeast Asian',
 6: 'White'}

In [33]:
num_classes = len(idx_to_class)

In [34]:
num_classes

7

Modelo armado desde cero

In [38]:


modelMio = tf.keras.Sequential([
  tf.keras.layers.Conv2D(32, 3, activation='relu'),
  tf.keras.layers.MaxPooling2D(),
  tf.keras.layers.Conv2D(64, 3, activation='relu'),
  tf.keras.layers.MaxPooling2D(),
  tf.keras.layers.Conv2D(128, 3, activation='relu'),
  tf.keras.layers.MaxPooling2D(),

  tf.keras.layers.Flatten(),
  tf.keras.layers.Dense(128, activation='relu'),
  tf.keras.layers.Dropout(0.5),
  tf.keras.layers.Dense(num_classes, activation='softmax')
])

WARNING:tensorflow:From C:\ProgramData\Anaconda3\envs\tf1\lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From C:\ProgramData\Anaconda3\envs\tf1\lib\site-packages\keras\src\layers\pooling\max_pooling2d.py:161: The name tf.nn.max_pool is deprecated. Please use tf.nn.max_pool2d instead.

In [39]:
modelMio.compile(optimizer=tf.keras.optimizers.Adam(0.0001), loss='categorical_crossentropy', metrics=['accuracy'])

In [40]:
modelMio.fit(train_ds,
          validation_data=val_ds,
          epochs=2)

Epoch 1/2
WARNING:tensorflow:From C:\ProgramData\Anaconda3\envs\tf1\lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From C:\ProgramData\Anaconda3\envs\tf1\lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

2/2 [==============================] - 122s 120s/step - loss: 2.0173 - accuracy: 0.1600 - val_loss: 2.0168 - val_accuracy: 0.1397
Epoch 2/2
2/2 [==============================] - 81s 81s/step - loss: 1.9942 - accuracy: 0.1800 - val_loss: 1.9663 - val_accuracy: 0.2121

In [41]:
input_shape=(img_height, img_width, 3)

In [42]:
imagen1=data_test1["id"][10]

In [43]:
imagen1

'val/11.jpg'

In [49]:
new_img = image.load_img(imagen1, target_size=input_shape[:2])

In [50]:
new_img = image.img_to_array(new_img)
new_img = np.expand_dims(new_img, axis=0)
new_img = new_img / 255.0

In [51]:
prediction = modelMio.predict(new_img)

1/1 [==============================] - 0s 184ms/step

In [52]:
laPrediccion=np.argmax(prediction)

In [53]:
lasCategoriasArray1=pd.DataFrame.from_dict(idx_to_class, orient="index")

In [54]:
laPrediccionLiteral=lasCategoriasArray1.iloc[laPrediccion,0]

In [55]:
print(f'La prediccion es {laPrediccionLiteral}')

La prediccion es White

In [65]:
loss,accuracy=modelMio.evaluate(val_ds)

2/2 [==============================] - 2s 645ms/step - loss: 2.0261 - accuracy: 0.1600

In [67]:
print(f'Loss:{loss}, accuracy {accuracy}')

Loss:2.0261051654815674, accuracy 0.1599999964237213

In [68]:
loss

2.0261051654815674

In [82]:
accuracy

0.1599999964237213

In [83]:
experiment_name = "experimento_mio1"
run_name = "runmio_1"

create_experiment(experiment_name, 
                  run_name,modelMio,
                  loss,accuracy
                 )

2024/02/14 17:00:28 INFO mlflow.tracking.fluent: Experiment with name 'experimento_mio1' does not exist. Creating a new experiment.
2024/02/14 17:01:07 WARNING mlflow.utils.environment: Encountered an unexpected error while inferring pip requirements (model URI: C:\Users\win10\AppData\Local\Temp\tmpxqfc84aq\model\model.pkl, flavor: sklearn), fall back to return ['scikit-learn==1.4.0', 'cloudpickle==3.0.0']. Set logging level to DEBUG to see the full traceback.

La ejecución: runmio_1 fue registrada en el experimento: experimento_mio1

Modelo en base a vgg16

In [35]:
vgg16 = tf.keras.applications.VGG16(input_shape=(img_height, img_width, 3), include_top=False, weights='imagenet')

vgg16.trainable = False

modelvgg16 = tf.keras.Sequential([
  vgg16,
  tf.keras.layers.Flatten(),
  tf.keras.layers.Dense(128, activation='relu'),
  tf.keras.layers.Dropout(0.5),
  tf.keras.layers.Dense(num_classes, activation='softmax')
])

WARNING:tensorflow:From C:\ProgramData\Anaconda3\envs\tf1\lib\site-packages\keras\src\backend.py:1398: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

WARNING:tensorflow:From C:\ProgramData\Anaconda3\envs\tf1\lib\site-packages\keras\src\layers\pooling\max_pooling2d.py:161: The name tf.nn.max_pool is deprecated. Please use tf.nn.max_pool2d instead.

In [36]:
modelvgg16.compile(optimizer=tf.keras.optimizers.Adam(0.0001), loss='categorical_crossentropy', metrics=['accuracy'])

In [37]:
modelvgg16.fit(train_ds,
          validation_data=val_ds,
          epochs=2)

Epoch 1/2
WARNING:tensorflow:From C:\ProgramData\Anaconda3\envs\tf1\lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From C:\ProgramData\Anaconda3\envs\tf1\lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

2/2 [==============================] - 136s 95s/step - loss: 2.4409 - accuracy: 0.1600 - val_loss: 2.1261 - val_accuracy: 0.1200
Epoch 2/2
2/2 [==============================] - 84s 70s/step - loss: 2.1646 - accuracy: 0.2000 - val_loss: 2.2638 - val_accuracy: 0.1200

In [38]:
input_shape=(img_height, img_width, 3)

In [117]:
imagen1=data_test1["id"][450]

In [118]:
imagen1

'val/451.jpg'

In [119]:
# Cargar y preprocesar una nueva imagen (reemplazar "ruta/de/imagen.jpg" con la ruta de la imagen)
from tensorflow.keras.preprocessing import image

#new_img = image.load_img("/content/0001.jpg", target_size=input_shape[:2])
new_img = image.load_img(imagen1, target_size=input_shape[:2])

In [120]:
new_img = image.img_to_array(new_img)
new_img = np.expand_dims(new_img, axis=0)
new_img = new_img / 255.0

In [121]:
prediction = modelvgg16.predict(new_img)

1/1 [==============================] - 0s 373ms/step

In [122]:
prediction

array([[0.07978797, 0.07270153, 0.2128977 , 0.08025935, 0.16005337,
        0.09521378, 0.2990863 ]], dtype=float32)

In [123]:
laPrediccion=np.argmax(prediction)
laPrediccion

6

In [47]:
idx_to_class

{0: 'Black',
 1: 'East Asian',
 2: 'Indian',
 3: 'Latino_Hispanic',
 4: 'Middle Eastern',
 5: 'Southeast Asian',
 6: 'White'}

In [48]:
type(idx_to_class)

dict

In [49]:
list(idx_to_class)

[0, 1, 2, 3, 4, 5, 6]

In [50]:
lasCategoriasArray=np.array(list(idx_to_class))

In [51]:
lasCategoriasArray

array([0, 1, 2, 3, 4, 5, 6])

In [52]:
lasCategoriasArray=np.array(idx_to_class)

In [53]:
lasCategoriasArray

array({0: 'Black', 1: 'East Asian', 2: 'Indian', 3: 'Latino_Hispanic', 4: 'Middle Eastern', 5: 'Southeast Asian', 6: 'White'},
      dtype=object)

In [54]:
lasCategoriasArray1=pd.DataFrame.from_dict(idx_to_class, orient="index")

In [55]:
lasCategoriasArray1

                 0
0            Black
1       East Asian
2           Indian
3  Latino_Hispanic
4   Middle Eastern
5  Southeast Asian
6            White

In [56]:
lasCategoriasArray1.iloc[0,0]

'Black'

In [71]:
laPrediccionLiteral=lasCategoriasArray1.iloc[laPrediccion,0]

In [72]:
laPrediccionLiteral

'Indian'

In [73]:
print(f'La prediccion es {laPrediccionLiteral}')

La prediccion es Indian

In [60]:
loss,accuracy=modelvgg16.evaluate(val_ds)

2/2 [==============================] - 1965s 22s/step - loss: 2.2638 - accuracy: 0.1200

In [62]:
experiment_name = "experimento_vgg161"
run_name = "runvgg16_1"

create_experiment(experiment_name, 
                  run_name,modelvgg16,
                  loss,accuracy
                 )

2024/02/15 19:04:29 INFO mlflow.tracking.fluent: Experiment with name 'experimento_vgg161' does not exist. Creating a new experiment.
C:\ProgramData\Anaconda3\envs\tf1\lib\site-packages\_distutils_hack\__init__.py:33: UserWarning: Setuptools is replacing distutils.
  warnings.warn("Setuptools is replacing distutils.")

La ejecución: runvgg16_1 fue registrada en el experimento: experimento_vgg161

In [87]:
pip freeze > requirements.txt

Note: you may need to restart the kernel to use updated packages.

In [90]:
filename = 'modelMio.pkl'

In [89]:
modelMio.save('modelMio.h5')

C:\ProgramData\Anaconda3\envs\tf1\lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [93]:
pickle.dump(modelMio, open(filename,'wb'))

In [94]:
modelMio.save('modelMio.h5')

In [96]:
modelMio.save('pb1')

INFO:tensorflow:Assets written to: pb1\assets

INFO:tensorflow:Assets written to: pb1\assets

In [86]:
!python --version

Python 3.9.18

In [63]:
modelvgg16.save('pb2')

INFO:tensorflow:Assets written to: pb2\assets

INFO:tensorflow:Assets written to: pb2\assets

In [126]:
races=['Black','East Asian','Indian','Latino_Hispanic','Middle Eastern','Southeast Asian','White']

In [127]:
races[laPrediccion]

'White'